.login-page {
  // font-family: 'Courier New', Courier, monospace;
  .login-card {
    text-align: center;
    padding: 20px;
    .login-form-container {
      padding-left: 20px;
      padding-right: 20px;
      .login-title-item {
        text-align: center;
        .login-title {
          font-weight: bold;
          padding-top: 20px;
        }
      }

      .login-form-input-label {
        padding-top: 7px;
      }
      .create-account-item {
        float: right;
      }
    }
    .register-form-container {
      padding: 20px;
    }
  }
}
