
.login-page {
    // font-family: 'Courier New', Courier, monospace;
    .login-card {
        text-align: center;
        padding: 20px;
        .login-title {
            font-weight: bold;
            padding-top: 0;
        }
    }
}