@import 'common/colors';

.common-input {
    &.legend {
        border: none;
    }
    .MuiInputBase-formControl {
        // height: 20px;
        padding: 4px;
    }
    .MuiOutlinedInput-root {
        .MuiOutlinedInput-notchedOutline {
            border: 1px solid black;
        }
        &.Mui-focused {
            .MuiOutlinedInput-notchedOutline {
                    border-color: $Brown_1;
                    border-width: 1px;
            }
        }
        
    }
    &.MuiTextField-root {
        // height: 20px;
    }
    input {
        height: 20px;
        padding: 2px;
    }
}

.common-input-label {
    font-size: 12px;
}